<template>
    <DefaultField
        :field="currentField"
        :errors="errors"
        :show-help-text="showHelpText"
        :full-width-content="fullWidthContent"
    >
        <template #field>
            <SearchInput
                :data-testid="`${field.attribute}-search-input`"
                @input="performSearch"
                @clear="clearSelection"
                @selected="selectOption"
                :error="hasError"
                :value="selectedOption"
                :data="options"
                clearable
                trackBy="value"
                class="w-full"
            >
                <!-- The Selected Option Slot -->
                <div v-if="selectedOption" class="flex items-center">
                    {{ selectedOption.label }}
                </div>

                <template #option="{ selected, option }">
                    <!-- Options List Slot -->
                    <div
                        class="flex items-center text-sm font-semibold leading-5"
                        :class="{ 'text-white': selected }"
                    >
                        {{ option.label }}
                    </div>
                </template>
            </SearchInput>
        </template>
    </DefaultField>
</template>

<script>
import find from 'lodash/find'
import first from 'lodash/first'
import isNil from 'lodash/isNil'
import { DependentFormField, HandlesValidationErrors } from 'laravel-nova'

export default {
    mixins: [HandlesValidationErrors, DependentFormField],

    data: () => ({
        search: '',
        selectedOption: null,
        options: [],
    }),

    created() {
        if (this.field.value) {
            let selectedOption = this.field.value

            this.$nextTick(() => {
                this.selectOption(selectedOption)
            })
        }


    },

    mounted() {
        Nova.request().post(`/api/products/search/${this.field.value}`)
            .then(({data}) => {
                this.options = [{
                    label: data.data.name,
                    value: data.data.id
                }]

                this.selectedOption = {
                    label: data.data.name,
                    value: data.data.id
                }
                this.value = data.data.id
            })
            .finally((response) => {
                console.error(response)
            })
    },
    methods: {
        fieldDefaultValue() {
            return null
        },

        fill(formData) {
            this.fillIfVisible(formData, this.fieldAttribute, this.selectedOption?.value)
        },

        performSearch(event) {
            Nova.request().post('/api/products/search', {
                "search" : {
                    "value" : event
                }
            })
                .then(({data}) => {
                    this.options = data.data.map((item) => {
                        return {
                            label: item.name,
                            value: item.id
                        }
                    })
                })
                .finally((response) => {
                    console.log(response)
                })
        },

        /**
         * Clear the current selection for the field.
         */
        clearSelection() {
            this.selectedOption = null
            this.value = this.fieldDefaultValue()

            if (this.field) {
                this.emitFieldValueChange(this.fieldAttribute, this.value)
            }
        },

        /**
         * Select the given option.
         */
        selectOption(option) {
            if (isNil(option)) {
                this.clearSelection()
                return
            }

            this.selectedOption = option
            this.value = option.value

            if (this.field) {
                this.emitFieldValueChange(this.fieldAttribute, this.value)
            }
        },

        /**
         * Handle the selection change event.
         */
        handleChange(value) {
            let selectedOption = find(
                this.currentField.options,
                v => v.value == value
            )

            this.selectOption(selectedOption)
        },

        /**
         * Handle on synced field.
         */
        onSyncedField() {
            let currentSelectedOption = null
            let hasValue = false

            if (this.selectedOption) {
                hasValue = true
                currentSelectedOption = find(
                    this.currentField.options,
                    v => v.value == this.selectedOption.value
                )
            }

            let selectedOption = find(
                this.currentField.options,
                v => v.value == this.currentField.value
            )

            if (isNil(currentSelectedOption)) {
                this.clearSelection()

                if (this.currentField.value) {
                    this.selectOption(selectedOption)
                } else if (hasValue && !this.currentField.nullable) {
                    this.selectOption(first(this.currentField.options))
                }

                return
            } else if (
                currentSelectedOption &&
                selectedOption &&
                ['create', 'attach'].includes(this.editMode)
            ) {
                this.selectOption(selectedOption)

                return
            }

            this.selectOption(currentSelectedOption)
        },
    },

    computed: {
        /**
         * Return the placeholder text for the field.
         */
        placeholder() {
            return this.currentField.placeholder || this.__('Choose an option')
        },

        /**
         * Determine if the field has a non-empty value.
         */
        hasValue() {
            return Boolean(
                !(this.value === undefined || this.value === null || this.value === '')
            )
        },
    },
}
</script>
