<template>
    <div
        v-show="this.field?.value?.length"
        id="map"
         style="height: 400px;" ref="map"></div>
</template>
<script>

export default {
    props: ['index', 'resource', 'resourceName', 'resourceId', 'field'],
    mounted() {
        this.initMap()
    },
    methods: {
        initMap() {
            const mapContainer = this.$refs.map
            const coordinates = this.field.value

            if (coordinates?.length === 0) {
                return
            }

            ymaps.ready(init);
            function init() {
                var map = new ymaps.Map(mapContainer, {
                    center: coordinates,
                    zoom: 10,
                    controls: []
                });


                var placemark = new ymaps.Placemark(coordinates);

                map.geoObjects.add(placemark);
            }
        }
    }
}
</script>
